# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
    1.- Python 
    2.- R 
    3.- SQL

# Some of the commonly used libraries used by Data Scientists include:
1.- Pandas
2.- NumPy
3.- Matplotlib
4.- Scikit-learn

# Herramientas de Ciencia de Datos

| Data Science Tools   | 
|----------------------|
| **Pandas**           |
|----------------------|
| **NumPy**            |
|----------------------|
| **Matplotlib**       |
|----------------------|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minutos = 200
horas = minutos / 60

print(f"{minutos} minutos equivalen a {horas:.2f} horas.")

200 minutos equivalen a 3.33 horas.

## Objectives:
    1.-Create a Jupyter Notebook
    2.-Insert code and markdown cells
    3.-Share your notebook through GitHub

# Author
GERARDO MARTIN ARIAS VARGAS